
// for fontsize and font family

@mixin fonts($weight,$size){
    font-family: "Raleway" !important;
    font-weight: $weight !important;
    font-size: $size + px ;
    
  }

//   for height 

@mixin height($height){
    height: $height + px;
}

// for width 

@mixin width($width){
    width: $width + px;
}

@mixin h-w($height,$width){
    height: $height + px !important;
    width: $width + px !important;
}
@mixin hh-ww($heightt,$widthh){
    height: $heightt !important;
    width: $widthh !important;
}

// for text align and justfy 

@mixin  textalign($value){
text-align: $value;
}
@mixin justify($value){
    display: flex;
    justify-content: $value;
}

// for text align and justfy  center

@mixin  textalign-c{
text-align: center;
}
@mixin justify-c{
    display: flex;
    justify-content: center;
}

// for bg color of container

@mixin box($value){
    @if $value == dark{
        background-color: #000000;
    }
    @else  if $value == light {
        background-color: #ffffff;
    }
}