* {
  padding: 0 !important;
  margin: 0 !important;
}

/* ----bg-img section---- */
#background-img-sec-1 {
  height: 1000px;
  background-color: #000000;
}

/* ----nav and home-section---- */
#nav-home-section {
  position: absolute;
  top: 0 !important;
  z-index: 10;
}

/* ----logo---- */
.navbar-brand {
  align-items: center;
}

.logo-text {
  letter-spacing: 1px;
  line-height: 46px;
  color: #fefefe;
  font-family: "Brush Script Std" !important;
  font-style: italic;
}

/* ----home-section---- */
#home-section {
  padding: 50px 80px 120px 80px !important;
}

.nav-item {
  padding: 10px !important;
}
.nav-item .nav-text {
  letter-spacing: 0px;
  line-height: 25px;
  color: #fefefe;
  font-family: "Raleway" !important;
  font-weight: 500 !important;
  font-size: 18px;
  /* Default border style (transparent) */
  border-bottom: 3px solid transparent;
  transition: border-bottom-color 0.3s ease, transform 0.3s ease;
}
.nav-item:hover .nav-text {
  color: #e62646 !important;
  /* Visible border on hover */
  border-bottom-color: #e62646;
  transform: scale(1.2) translateY(-1px);
}

.carousel-item img {
  width: 100% !important;
}

.nav-item a {
  padding: 10px !important;
}

#Services-section, .home-head-sec {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.home-head-sec {
  display: flex;
  display: flex;
  justify-content: center;
}

.home-head-sec-one {
  padding-top: 0%;
}
.home-head-sec-one .home-t-one {
  letter-spacing: 2px;
  line-height: 70px;
  color: #fefefe;
  text-align: center;
  font-family: "Raleway" !important;
  font-weight: 800 !important;
  font-size: 80px;
}

.home-head-sec-two {
  letter-spacing: 2px;
  color: #fefefe;
  text-align: center;
  font-family: "Raleway" !important;
  font-weight: 500 !important;
  font-size: 30px;
  padding-top: 40px !important;
  padding-bottom: 65px !important;
}

.home-button-part {
  display: flex;
  justify-content: center;
}

.home-head-sec-button {
  letter-spacing: 1px;
  color: #fefefe;
  text-align: center;
  font-family: "Raleway" !important;
  font-weight: 500 !important;
  font-size: 18px;
  height: 41px !important;
  width: 210px !important;
  border-radius: 20px;
  background-color: #e62646;
  border: none;
}

/* ----Dots for slick slider---- */
.slick-dots li {
  margin: 0 0.25rem !important;
  height: 0px !important;
  width: 40px !important;
  bottom: 215px;
}
.slick-dots button {
  display: block;
  padding: 15px !important; /* Increased gap */
  border: 3px solid rgb(255, 255, 255) !important;
  border-radius: 100%;
  background-color: transparent; /* Set to transparent */
  box-sizing: border-box; /* Include padding in the width and height */
  text-indent: -9999px;
  position: relative;
}
.slick-dots button:before {
  content: "";
  display: block;
  position: absolute;
  top: 4px !important;
  left: 5px !important;
  width: 85%; /* Smaller white circle */
  height: 85%; /* Smaller white circle */
  border-radius: 100%;
  background-color: rgb(255, 255, 255); /* Match the button color */
  transform: translateZ(-1px); /* Move behind the button */
  opacity: 1 !important;
}
.slick-dots li.slick-active button {
  border: 3px solid #e62646 !important;
}
.slick-dots li.slick-active button:before {
  background-color: #e62646; /* Change color on activation */
}

/* ----SERVICE SECTION---- */
#Services-section, .home-head-sec {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

#Services-section {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
  background-color: #ffffff;
}

.service-section-four, .service-section-three, .service-section-two, .service-section-one {
  height: 455px !important;
  width: 344px !important;
}

.service-section-one {
  background-color: #9e9e9e;
}

#service-img {
  height: 110px !important;
  width: 120px !important;
}

.service-one-img {
  display: flex;
  justify-content: center;
}

#service-line::before, #service-line::after {
  content: "";
  display: inline-block;
  width: 142.5px;
  background: #000000;
  height: 3px;
}

.service-section-two {
  background-color: #9e9e9e;
}

.service-section-three {
  background-color: #9e9e9e;
}

.service-section-four {
  background-color: #9e9e9e;
}/*# sourceMappingURL=main.css.map */