@use '_index' as *;

// @use '../SCSS/extend' as *;
*{
    padding: 0 !important;
    margin: 0 !important;
}
/* ----bg-img section---- */

// #background-img-sec-1{
   
//     background-color: $black-color;
    // background-color: black;
// }
/* ----home-section---- */

#home-section{
    position: absolute;
    top: 0  !important;
   z-index: 10;
}


